/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; 
  font-family: Arial, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: Arial, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1em; }

h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
img,
video,
iframe {
  max-width: 95%;
  max-height: 95%; }

strong,
b {
  font-weight: bold; }

em {
  font-style: italic; }

ol,
dl,
ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: disc; }

ul ul {
  list-style-type: square; }

ul ul ul {
  list-style-type: circle; }

ul ul,
ul ol,
ol ol,
ol ul {
  display: block;
  margin-left: 40px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 40px; }

blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

blockquote p:first-child,
blockquote p:last-child {
  display: inline-block; }

q {
  font-style: italic; }

pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

code {
  font-family: monospace;
  text-transform: none; }

pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

table th {
  font-weight: bold; }

table th,
table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

table th[align="center"],
table td[align="center"] {
  text-align: center; }

table th[align="right"],
table td[align="right"] {
  text-align: right; }

table tbody tr:last-child th,
table tbody tr:last-child td {
  border-bottom: none; }

sup {
  vertical-align: super;
  font-size: smaller; }

sub {
  vertical-align: sub;
  font-size: smaller; }

small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

img.plain {
  border: 0;
  box-shadow: none; }

a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

h1, h2 {
  text-transform: none;
  text-align: left; }

li {
  padding: auto; }

p, td {
  vertical-align: middle; }

.side-banner-top {
  width: 24px;
  height: auto;
  position: fixed;
  top: 22px;
  right: 22px;
  z-index: 2; }

.side-banner-middle {
  width: 14px;
  height: auto;
  position: fixed;
  top: 55px;
  right: 27px;
  z-index: 2; }

.copyright {
  font-size: 7px;
  position: fixed;
  z-index: 1; }

.watermark {
  width: 692px;
  height: auto;
  position: fixed;
  bottom: 0cm;
  right: 0cm;
  z-index: 1; }

.classification {
  padding: 5px;
  position: fixed;
  bottom: 80px;
  right: 80px;
  font-size: 7px;
  background-color: rgba(0, 0, 0, 0.2); }
  .classification p {
    margin: 0; }
  .classification div {
    display: inline-block;
    padding: 2px; }
  .classification div:nth-child(1) {
    text-align: right; }
  .classification div:nth-child(2) {
    border-style: dashed;
    border-width: 1px;
    border-color: white; }

.nttdata-main h1 {
  font-size: 30px;
  position: fixed;
  top: 80px;
  left: 67px; }

.nttdata-main h2 {
  font-size: 18px;
  position: fixed;
  top: 115px;
  left: 67px;
  color: #7F7F7F; }

.nttdata-main .copyright {
  bottom: 23px;
  right: 67px; }

.nttdata-main .black-logo {
  height: 10px;
  width: auto;
  position: fixed;
  bottom: 23px;
  left: 67px;
  z-index: 1; }

.nttdata-main .white-logo, .nttdata-main .side-banner-bottom {
  display: none; }

.nttdata-main content {
  top: 145px; }

.nttdata-divide h2 {
  color: #7F7F7F; }

.nttdata-divide .white-logo {
  height: 10px;
  width: auto;
  position: fixed;
  bottom: 23px;
  left: 67px;
  z-index: 1; }

.nttdata-divide .black-logo, .nttdata-divide .side-banner-bottom {
  display: none; }

.nttdata-divide .copyright {
  display: none; }

.nttdata-divide .reveal,
.nttdata-title {
  color: white; }
  .nttdata-divide h1,
  .nttdata-title h1 {
    max-width: 60%;
    color: white;
    font-size: 45px;
    position: fixed;
    bottom: 310px;
    left: 67px; }
  .nttdata-divide h2,
  .nttdata-title h2 {
    max-width: 60%;
    font-size: 25px;
    position: fixed;
    top: 415px;
    left: 67px; }
  .nttdata-divide content,
  .nttdata-title content {
    top: 533px; }

.nttdata-title h2 {
  color: white; }

.nttdata-title .side-banner-bottom {
  position: fixed;
  width: 68px;
  height: 100%;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.51);
  z-index: 1; }
  .nttdata-title .side-banner-bottom img {
    position: absolute;
    bottom: 0px;
    width: 100%; }

.nttdata-title .copyright {
  bottom: 25px;
  left: 67px; }

.nttdata-title .black-logo, .nttdata-title .watermark {
  display: none; }

.nttdata-title .white-logo {
  position: fixed;
  width: 141px;
  height: auto;
  top: 53px;
  left: 67px;
  z-index: 1; }

.nttdata-title .backgrounds:before {
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  z-index: -1; }

.nttdata-title .backgrounds:after {
  content: "";
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  z-index: -1; }
