<img class="black-logo" src="../../../images/logo-black.svg">
<img class="white-logo" src="../../../images/logo-white.svg">
<img class="side-banner-top" src="../../../images/swirl-small.png">
<img class="side-banner-middle" src="../../../images/caligraphy.png">
<div class="side-banner-bottom">
    <img src="../../../images/gg.png">
</div>
<img class="watermark" src="../../../images/swirl.png">
<div class="copyright">© 2019 NTT DATA All Rights Reserved.</div>