<div class="classification">
    <div>
        <p>Information Type :</p>
        <p>Company Name :</p>
        <p>Information Owner :</p>
    </div>
    <div>
        <p><%= type %></p>
        <p><%= company %></p>
        <p><%= owner %>></p>
    </div>
</div>